<!DOCTYPE html>
<html
        th:replace="~{layout/base-layout :: layout(~{::title}, ~{::body}, ~{})}"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="#{title.categories.edit}">Edit Category</title>
</head>
<body>
<div class="single-welcome-slide bg-img bg-overlay mb-0 pt-4"
     th:style=" 'background-image:url(' + @{/img/bg-img/17.jpg} +');' "
     th:data-img-url="@{/img/bg-img/16.jpg}">
    <div class="col-10 mx-auto card card-signin pt-4">
        <h4 class="card-title text-center" th:text="#{category.edit.title}">Edit Category</h4>
        <form th:method="PUT" th:action="@{'/admin/categories/' + ${category.id}}"
              th:object="${category}" class="form-horizontal">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                       th:text="#{category.name.label}">Category Name</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{name}" class="form-control"
                           id="inputEmail3" th:placeholder="#{category.name.label}" required="required">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase"
                            type="submit" th:text="#{category.save}">Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
