<!DOCTYPE html>
<html
        th:replace="~{layout/base-layout :: layout(~{::title}, ~{::body}, ~{})}"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="#{title.users.list}">List Users</title>
</head>

<body>
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-img bg-overlay jarallax"
     th:style=" 'background-image:url(' + @{/assets/img/bg-img/18.jpg} +');' ">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title" th:text="#{title.users}">Users</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a th:href="@{/home}" th:text="#{title.home}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page" th:text="#{title.users}">Users</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->

<div class="single-welcome-slide bg-img bg-overlay mb-0 pt-3"
     th:style=" 'background-image:url(' + @{/assets/img/bg-img/16.jpg} +');' "
     th:data-img-url="@{/assets/img/bg-img/16.jpg}">
    <div th:if="${msg != null}" class="alert alert-dismissible"
         th:class="${css == 'error' ? 'alert-error' : 'alert-success'}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong><span th:text="${msg}"></span></strong>
    </div>
    <div class="col-10 mx-auto card card-signin pt-4 px-6 mt-5">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" th:text="#{user.form.name}">Name</th>
                <th scope="col" th:text="#{user.form.email}">Email</th>
                <th scope="col" th:text="#{user.form.userName}">Username</th>
                <th scope="col" th:text="#{user.list.action}">Action</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user,iter : ${users}">
                <tr>
                    <th scope="row" th:text="${iter.index + 1}"></th>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.userName}"></td>
                    <td class="d-flex flex-row">
                        <div class="align-content-center mr-2">
                            <a th:href="@{'/users/' + ${user.id}}" th:text="#{user.list.details}"
                               class="btn btn-primary">Details</a>
                            <a class="btn btn-danger" data-toggle="modal" data-target="#modal-warning"
                               th:text="#{user.list.delete}" th:attr="data-target='#modal-warning'+${user.id}">
                                Delete</a>
                            <div class="modal" th:id="modal-warning+${user.id}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" th:text="#{user.delete.user}">Delete User</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <h6 th:text="#{user.message}">Are you sure want to delete this user?</h6>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal" th:text="#{user.close}">Close
                                            </button>
                                            <form th:action="@{'/admin/users/' + ${user.id} + '/delete'}">
                                                <input class="btn btn-primary" type="submit" th:value="#{user.confirm}"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
