<!DOCTYPE html>
<html
        th:replace="~{layout/base-layout :: layout(~{::title}, ~{::body}, ~{})}"
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Tour Details</title>
</head>
<body>
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-img bg-overlay jarallax"
     th:style=" 'background-image:url(' + @{/assets/img/bg-img/16.jpg} +');' ">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">Details for Tour [[${tourInfo.name}]] </h2>
                    <nav aria-label="breadcrumb">
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="room-features-area d-flex flex-wrap mb-50">
    <h6>
        Duration:
        <span>[[${tourInfo.expectedDurationMin}]]-[[${tourInfo.expectedDurationMax}]] days</span>
    </h6>
    <h6>
        Capacity: <span>Max person [[${tourInfo.capacity}]]</span>
    </h6>
    <h6>
        Starting Gate: <span>[[${tourInfo.startPoint}]]</span>
    </h6>
</div>
<div class="text-center">
    Description: <p>[[${tourInfo.description}]]</p>
</div>
</div>

<div class="roberto-rooms-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div sec:authorize="hasAuthority('ADMIN')" class="col-sm-3">
                    <form th:method="GET"
                          th:action="@{'/admin/tours/'+${tourInfo.id}+'/tour-details/add'}">
                        <input class="btn btn-success" type="submit" value="Add"/>
                    </form>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Price</th>
                        <th sec:authorize="isAuthenticated()" scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="tourDetail,iter : ${tourDetails.content}">
                        <tr th:style="${iter.odd}? 'background-color: #ccc; color: #000;'">
                            <th scope="row" th:text="${iter.index + 1}"></th>
                            <td th:text="${tourDetail.duration}"></td>
                            <td th:text="${tourDetail.price}"></td>
                            <td sec:authorize="hasAuthority('ADMIN')" class="d-flex flex-row">
                                <form th:method="GET"
                                      th:action="@{'/admin/tours/'+${tourInfo.id}+'/tour-details/' + ${tourDetail.id} + '/edit'}">
                                    <input class="btn btn-warning" type="submit" value="Edit"/>
                                </form>
                                &nbsp;
                                <form th:method="DELETE"
                                      th:action="@{'/admin/tours/'+${tourInfo.id}+'/tour-details/' + ${tourDetail.id}}">
                                    <input class="btn btn-danger" type="submit" value="Delete"/>
                                </form>
                            </td>
                            <td sec:authorize="hasAuthority('USER')" class="d-flex flex-row">
                                <form th:method="GET"
                                      th:action="@{'/'+${(#authentication.getPrincipal()).getUser().getId()}+'/booking-requests/'+${tourDetail.id}+'/add'}">
                                    <input class="btn btn-success" type="submit" value="Book this"/>
                                </form>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

                <nav class="roberto-pagination wow fadeInUp mb-100" data-wow-delay="200ms">
                    <div th:if="${tourDetails.totalPages > 0}" th:replace="~{templates/_pagination :: copy(${tourDetails}, '/tours/'+${tourInfo.id}+'/tour-details')}"></div>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>