<!DOCTYPE html>
<html
	th:fragment="layout (title, content, links)" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<!-- Title -->
	<title th:replace="${title}">[[#{meta.title}]]</title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta charset="UTF-8">
	<meta name="description" content="">
	
	<!-- Favicon -->
	<link rel="icon" th:href="@{/img/core-img/favicon.png}">
	
	<!-- Stylesheet -->
	<link rel="stylesheet" th:href="@{/assets/style.css}">
</head>

<body>
	<header th:replace="layout/header :: header">
	</header>

	<div th:replace="${content}">
    </div>
	<footer th:replace="layout/footer :: footer">
	</footer>

</body>
<!-- **** All JS Files ***** -->
<!-- jQuery 2.2.4 -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<!-- Popper -->
<script th:src="@{/assets/js/popper.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- All Plugins -->
<script th:src="@{/assets/js/roberto.bundle.js}"></script>
<!-- Active -->
<script th:src="@{/assets/js/default-assets/active.js}"></script>
<script th:src="@{/assets/js/previewImage.js}"></script>
</html>