<!DOCTYPE html>
<html th:fragment="layout (title, content)"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<footer th:fragment="footer" class="footer-area">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row align-items-baseline justify-content-between">
                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <!-- Footer Logo -->
                        <a th:href="@{/home}" class="footer-logo"><img
                                th:src="@{/assets/img/core-img/logo2.png}" alt=""></a>
                    </div>
                </div>

                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-10">
                        <!-- Widget Title -->
                        <h5 class="widget-title" th:text="#{footer.owners}">Our Owners</h5>

                        <ul class="footer-nav">
                            <li><a th:href="@{https://github.com/nguyenvietngocquang}" class="text-white-50"
                                   th:text="#{footer.nvnq}">Nguyen Viet Ngoc Quang</a></li>
                            <li><a th:href="@{https://github.com/zovivo}" class="text-white-50"
                                   th:text="#{footer.tmc}">Tran Manh Cong</a></li>
                            <li><a th:href="@{https://github.com/Ti-amo}" class="text-white-50"
                                   th:text="#{footer.pth}">Phung The Hung</a></li>
                            <li><a th:href="@{https://github.com/nguyenhuyphan681998}" class="text-white-50"
                                   th:text="#{footer.nhp}">Nguyen Huy Phan</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-4 col-lg-2">
                    <div class="single-footer-widget mb-10">
                        <!-- Widget Title -->
                        <h5 class="widget-title" th:text="#{footer.links}">Links</h5>

                        <!-- Footer Nav -->
                        <ul class="footer-nav">
                            <li><a th:href="@{'/home'}" th:text="#{title.home}">Home</a></li>
                            <li><a th:href="@{'/tours'}" th:text="#{title.tours}">Tours</a></li>
                            <li><a th:href="@{'/about'}" th:text="#{title.about}">About us</a></li>
                            <li><a th:href="@{'/contact'}" th:text="#{title.contact}">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-8 col-lg-4">
                    <div class="single-footer-widget mb-10">
                        <!-- Widget Title -->
                        <h5 class="widget-title" th:text="#{footer.subscribe}">Subscribe Newsletter</h5>
                        <span th:text="#{footer.subscribe.message}"></span>

                        <!-- Newsletter Form -->
                        <form th:action="@{#}" class="nl-form">
                            <input type="email" class="form-control"
                                   th:placeholder="#{footer.subscribe.email}">
                            <button type="submit">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copywrite Area -->
    <div class="container">
        <div class="copywrite-content">
            <div class="row align-items-center">
                <div class="col-12 col-md-8">
                    <!-- Copywrite Text -->
                    <div class="copywrite-text">
                        <p th:text="#{footer.copyright}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
