<!DOCTYPE html>
<html th:fragment="layout (title, content)"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
</head>
<body>
<header th:fragment="header" class="header-area">
    <!-- Top Header Area Start -->
    <div class="top-header-area">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-8">
                    <div class="top-header-content">
                        <div class="top-social-area ml-auto row">
                            <div sec:authorize="isAuthenticated()" class="mr-4">
                                <a th:href="@{'/login'}"><span sec:authentication="name"></span></a>
                                <a th:href="@{'/logout'}" th:text="#{user.logout}">Log out</a>
                            </div>
                            <div sec:authorize="!isAuthenticated()" class="mr-4">
                                <a th:href="@{'/login'}" th:text="#{user.signin}">Sign in</a>
                                <a th:href="@{'/users/signup'}" th:text="#{user.signup}">Sign up</a>
                            </div>
                            <a th:href="@{'?locale=en'}"><img alt="EN" width="34"
                                                              th:src="@{https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/twitter/259/flag-united-states_1f1fa-1f1f8.png}"/></a>
                            <a th:href="@{'?locale=vi'}"><img alt="VI" width="34"
                                                              th:src="@{https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/twitter/259/flag-vietnam_1f1fb-1f1f3.png}"/></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Top Header Area End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="robertoNav">

                    <!-- Logo -->
                    <a class="nav-brand" th:href="@{/home}"><img
                            th:src="@{/img/core-img/logo.png}" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap">
                                <span class="top"></span><span class="bottom"></span>
                            </div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li class="active"><a th:href="@{/home}" th:text="#{header.home}">Home</a></li>
                                <li><a th:href="@{/tours}" th:text="#{header.tours}">Tours</a></li>
                                <li sec:authorize="hasAuthority('ADMIN')">
                                    <a th:href="@{/admin/categories}" th:text="#{header.categories}">Categories</a></li>
                                <li><a th:href="@{/reviews}" th:text="#{header.reviews}">Reviews</a></li>
                                <li sec:authorize="hasAuthority('ADMIN')">
                                    <a th:href="@{/admin/users}" th:text="#{header.users}">Users</a></li>
                                <li><a th:href="@{/about}" th:text="#{header.about}">About us</a></li>
                                <li><a th:href="@{/contact}" th:text="#{header.contact}">Contact</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->
</body>
</html>
