<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="copy (page, url)" th:if="${page.totalPages > 0}" class="pagination">
    <ul class="pagination">
        <li class="next next_page page-item" th:attrappend="class=${page.isFirst()} ? disabled">
            <a class="page-link" href="#" th:href="${page.hasPrevious()} ? @{${url}+'?page='+${page.number}} : 'javascript: void(0);'">
                <i class="fa fa-angle-left"></i> Previous
            </a>
        </li>
        <li class="page-item" th:each="i: ${#numbers.sequence(1, page.totalPages)}"
            th:class="${i==page.number + 1} ? active">
            <a class="page-link" th:href="@{${url}+'?page='+${i}}" th:text=${i}></a>
        </li>
        <li class="next next_page page-item" th:attrappend="class=${page.isLast()} ? disabled">
            <a class="page-link" href="#" th:href="${page.hasNext()} ? @{${url}+'?page='+${page.number+2}} : 'javascript: void(0);'">
                Next <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
</div>
</body>
</html>